@charset "utf-8";

body
{
    width : 100%;
    height : 100%;
    margin : 0 auto;
    font-size : 2.00rem;
    position : absolute;
    background : url(../img/bg.jpg) no-repeat;
    background-size : 100% 100%;
    background-attachment : fixed;
}

.pageBackground
{
    width : 100%;
    height : 100%;
    z-index : -1;
    /*border : 5px solid red;*/
}

.product
{
    position : relative;
    margin : 3%;
    width : 94%;
    height : 40%;
    border : 1px double #0CC;
    box-shadow:inset 0 0 10px #0CC;
}

.imgOverviewProduct
{
    left : 0%;
    top : 0%;
    width : 100%;
    height : 70%;
    position : absolute;
    background : url(../img/overviews/test.jpg) no-repeat;
    background-size : 100% 100%;
}

.iconProduct
{
    left : 4%;
    top : 60%;
    width : 25%;
    height : 35%;
    position : absolute;
    background : url(../img/icons/test.jpg) no-repeat;
    background-size : 100% 100%;
}

.textProductName
{
    left : 35%;
    top : 70%;
    width : 50%;
    height : 20%;
    position : absolute;
}

.btnGetProduct
{
    left : 35%;
    top : 84%;
    width : 10%;
    height : 10%;
    position : absolute;
    background : url(../img/btnGet.jpg) no-repeat;
    background-size : 100% 100%;
}

