@charset "utf-8";
body {
    /*size-adjust: 100%;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*user-drag: none;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*font-smoothing: antialiased;*/
    color: #000;
    word-wrap: break-word;
    font-family: -apple-system-font,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    line-height: 1.42857;
    text-rendering: optimizeLegibility;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    margin: 0;
    font-size:0.24rem;
}

.pageBackground {
    width: 100%;
    height : 2917px;
    background: url(background.png) no-repeat;
    -webkit-background-size: 100% 100%;
    /*background-size: 100% 100%;*/
    position:relative;
    margin:0 auto;
    /*min-width:960px;*/
    max-width: 960px;
    background-size: cover;
}

.shareBackground {
    display:none;
    left:0;
    top:0;
    width: 100%;
    height : 100%;
    z-index: 3;
    background: url(shareBackground.png) no-repeat;
    background-size: 100% 100%;
    color:rgba(255,255,255,255);
    position : fixed;
}

.btnTopHover
{
    width: 100%;
    height : 97px;
    z-index: 2;
    background: url(btnTopHover.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 250%;
    position : fixed;
}

.btnBottomHover
{
    width: 100%;
    height : 97px;
    z-index: 2;
    background: url(btnTopHover.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 250%;
    position : fixed;
}

.btnRegister
{
    position : absolute;
    left:25%;
    top:49%;
    width:60%;
    height:3%;
    background: url(btnRegister.png) no-repeat;
    background-size: 100% 100%;
    /*border:5px solid red;*/   
}

.btnNotifyNext
{
    position : absolute;
    left:35%;
    top:51.5%;
    width:40%;
    height:2.7%;
    background: url(notifyNext.png) no-repeat;
    background-size: 100% 100%;
    /*border:5px solid red;*/   
}

.marqueeCompanyBrief
{
    position : absolute;
    left:15%;
    top:45%;
    width:76%;
    height:2%;
    font-size:2rem;   
    color:white;
    /*border:5px solid red;*/   
}

.slide-mask {
    position: relative;
    overflow: hidden;
    left: 16%;
    top: 56%;
    width: 72%;
    height: 7%;
    /*border:5px solid red;*/
}

.slideup {
    /*background: rgba(45,55,64,.5);*/
    left:0;
    top:0;
    width:100%;
    position: absolute;
    font-size: 2rem;
    line-height: 200%;
    text-align: center;
    color: #fff;
    /*border:5px solid red;*/   
    margin:0;
}

.slide
{
    list-style:none;
}

.textReceiveCount
{
    position : absolute;
    left:17%;
    top:53.8%;
    width:70%;
    height:2%;
    color:white;
    /*text-align:center;*/
    line-height:50px;
    font-size:1.5rem;
    /*border:5px solid red;*/   
}

.textActivityInfo
{
    position : absolute;
    left:15%;
    top:67%;
    width:70%;
    height:6%;
    color:rgb(35,54,75);
    text-align:center;
    line-height:50px;
    font-size:1.8rem;
    /*border:5px solid red;*/   
}

.textActivityTime
{
    position : absolute;
    left:15%;
    top:76%;
    width:70%;
    height:6%;
    color:rgb(35,54,75);
    text-align:center;
    line-height:50px;
    font-size:2rem;   
}

.textCompanyProfile
{
    position : absolute;
    left:15%;
    top:82%;
    width:70%;
    height:6%;
    color:rgb(35,54,75);
    line-height:30px;
    font-size:1rem;   
}
