<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DotMapper">

		
	<select id="findDotPage" parameterType="Page" resultType="Map">
		SELECT a.*,b.value FROM tb_dot a, tb_dictionary b WHERE a.lo_sh=b.id
	</select>
	
	
		<select id="findDotId" parameterType="formData" resultType="Map">
		SELECT * FROM tb_dot WHERE id=#{id}
	</select>
	
	
	<insert id="insertDot" parameterType="formData">
	INSERT INTO tb_dot( dot,lo_sh,details,longitude,latitude,gl_name,isline,description,gl_phone,bdesc)
	 VALUE(#{dot},#{lo_sh},#{details},#{longitude},#{latitude},#{gl_name},#{isline},#{description},
	 #{gl_phone}, #{bdesc})
	</insert>
	
	
	<update id="updateDot" parameterType="formData">
	update tb_dot set  dot=#{dot},lo_sh=#{lo_sh},details=#{details},longitude=#{longitude},
	latitude=#{latitude},gl_name=#{gl_name},isline=#{isline},description=#{description},gl_phone=#{gl_phone}, bdesc=#{bdesc}
	where id=#{id}
   </update>
		 <delete id="deleteDot" parameterType="List" >
		delete from tb_dot where id in 
		<foreach collection="list" item="item"  open="(" separator="," close=")">#{item}</foreach>
	</delete>
	
	
</mapper>